.homescr {
    margin-top: 137px;
    margin-bottom: 140px;
    height: auto;
    // background-color: pink;
}

.lparthome {
    max-width: 60%; //veliau gali reikt pakeisti
    display: flex;
    flex-direction: column;
    justify-content: left;
    .logohomescr {
        width: 247px;
        height: 108px;
    }
    h1 {
        font-weight: 600; 
        font-size: 36px;
        line-height: 43px;
        color: white;
    }
    .divider01 {
        width: 64px;
        height: 22px;
    }
    // kodel h2 txt uzslenka ANT navigacijos??? teko ikalt navbarui z-indexa 1
    h2 {
        font-weight: 600; 
        font-size: 16px;
        line-height: 23px;
        color: white;
        opacity: 0.8;
    }
    .dwnld {
        margin-top: 30px;
        font-family: inherit;
        font-size: 14px;
        font-weight: 600;
        color: white; 
        width: 135px;
        height: 42px;
        border: solid 2px white;
        background: none;
    }
    .dwnld:hover {
        cursor: pointer;
        font-family: inherit;
        font-weight: 600;
        background: white;
        color: $brand; //pasirodo, padaryti permatomas raides, kad hoverinant rodytu miesto img backgrounda yra too much f-ing trouble. derinu prie navbaro hoverio
    }
}

.rparthome {
    max-height: 420px;
    max-width: 425px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    .formfirsttitle {
        font-family: inherit;
        font-weight: 600;
        font-size: 20px;
        color: #333333;
        background-color: #F5F5F5;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 50px;
        padding-right: 50px;
        .spanfree {
            color: $brand;
        }
    }
    .formfirst {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.16);
        .formfirstdets {
            font-family: inherit;
            font-weight: 600;
            font-size: 16px;
            color: $dust;
            margin-top: 30px;
        }
        .formfirsttext {
            border: none;
            border-bottom: 1px solid #D8D8D8;
            margin-bottom: 27px;
        }
        input {
            font-family: inherit;
            font-size: 12px;
            line-height: 20px;
            padding-left: 10px;
        }
        ::placeholder {
            color: #D8D8D8;
        }
        .formfirsttext:first-of-type {
            margin-top: 15px;
        }
        .formfirsttext:nth-of-type(3) {
            margin-bottom: 5px;
        }
        .formfirstradio {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 17px;
            margin-bottom: 30px;
            font-family: inherit;
            font-size: 9px;
            line-height: 27px;
        }

        // custom FAKIN RADIO BUTTONS!! below. behold ble 3hrs of this bs
        .customradio {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        .customradio:first-of-type {
            margin-right: 17px;
        }
        .customradio input {
            opacity: 0;
            display: none;
        }
        .customradio:hover {
            cursor: pointer;
        }
        .radiomark {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 13px;
            height: 13px;
            border: 1px solid $salad;
            border-radius: 50%;
            margin-right: 5px;
            opacity: 0.5;
        }
        .customradio input:checked ~ .radiomark {
            opacity: 1;
        }
        .radiomark:after {
            content: "";
            display: none;
        }
        .customradio input:checked ~ .radiomark:after {
            display: flex;
        }
        .customradio .radiomark:after {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $salad;
        }
        // a label WHITHN a label? well why the hell not? (bs too, btw)
        .customradio input:checked + label {
            font-weight: 600;
            font-size: 9px;
            line-height: 27px;
        }
        label:hover {
            cursor: pointer;
        }
        // custom radio buttons DONE. below follows 'GET STARTED' button.
        .formfirstsub {
            margin: -50px;
            margin-top: 0px;
            margin-bottom: 0px;
            height: 57px;
            border: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 0;
            font-size: 18px;
            font-weight: 600;
            color: white;
            background-color: $salad;
        }
        .formfirstsub:hover {
            cursor: pointer;
            color: $brand;
        }
    }
}