header {
    height: 72px;
    background-color: $dust;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    .navig {
        height: 72px;
        align-items: center;
        a {
            text-decoration: none;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row;
        list-style-type: none;
        color: white;        
        li {
            margin-left: 44px;
            font-size: 14px;
            box-sizing: border-box;
            padding-top: 25px;
            padding-bottom: 25px;
            border-top: solid 2px $dust;
            border-bottom: solid 2px $dust;
        }
        li:hover {
            cursor: pointer;
            padding-top: 25px;
            padding-bottom: 25px;
            box-sizing: border-box;
            border-bottom: solid 2px $brand;
        }
    }
}
@media screen and (max-width: 600px) {
    header {
        width: 100vw;
    }
    .navig {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .mobilenavigation {
        background-image: url(assets/mobile_menu.svg);
        background-size: cover;
        position: relative;
        height: 52px;
        width: 52px;
        #mobnavcb {
            display: none;
            visibility: hidden;
            opacity: 0;
        }
        .mnav {
            width: 280px;
            background-color: $dust;
            position: absolute;
            flex-flow: column;
            display: none;
            visibility: hidden;
            opacity: 0;
            top: 62px;
            left: -88px;
            li {
                margin: 0;
                a {
                    height: 100%;
                    padding-left: 20px;
                    padding-right: 220px;
                }
            }
        }
    }
    .mobilenavigation input:checked + .mnav { 
        display: flex;
        visibility: initial;
        opacity: 1;
    }
    ul {
        position: absolute;
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}