header {
    height: 72px;
    background-color: #1C1C1C;
    position: fixed;
    top: 0;
    width: 100%;
    .navig {
        height: 72px;
        align-items: center;
    }
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row;
        list-style-type: none;
        color: white;        
        li {
            margin-left: 44px;
            font-size: 14px;
            box-sizing: border-box;
            padding-top: 25px;
            padding-bottom: 25px;
            border-top: solid 2px #1C1C1C;
            border-bottom: solid 2px #1C1C1C;
        }
        li:hover {
            cursor: pointer;
            padding-top: 25px;
            padding-bottom: 25px;
            box-sizing: border-box;
            border-bottom: solid 2px $brand;
        }
    }
}