.reviewsbcgr {
    width: 100%;
}

.reviews {
    max-width: 1600px;
    padding-left: 148px;
    padding-right: 148px;
    margin: 0 auto;
    padding-top: 67px;
    // padding-bottom: 107px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .reviewstitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            margin: 0;
            margin-bottom: 31px;
            font-size: 36px;
            font-weight: 600;
            color: $dust;
            text-align: center;
        }
        .reviewsdivider {
            width: 64px;
            border: solid 1px $blu;
            box-sizing: border-box;
        }
    }
    .customerscontainer {
        max-width: 1087px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 40px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px; //temporary
        .swiper-slide {
            height: unset;
        }
        .reviewbox {
            min-width: 225px;
            // margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end; //hopefully
            align-items: flex-start;
            max-width: 30%; //darbinis laikinas width
            .custcomment {
                margin: 0;
                font-size: 16px;
                color: white;
                background-color: $blu;
                border-radius: 8px;
                text-align: initial;
                padding: 20px;
                p {
                    margin: 0;
                }
            }
            .customerid {
                min-width: 225px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 19px;
                position: relative;
                .custavatar {
                    width: 70px;
                    height: 70px;
                    flex-shrink: 0;
                }
                .custnameoccup {
                    display:flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 16px;
                    h6 {
                        margin: 0;
                        color: #333333;
                    }
                    p {
                        margin: 0;
                        color: #86878B;
                    }
                }
            }
            .customerid::after {
                content: "";
                width: 28px;
                height: 28px;
                transform: rotate(45deg);
                top: -61%;
                left: 9.5%;
                background-color: $blu;
                position: absolute;
                z-index: -1;
            }
        }
    }
}