.socmediabarbgr {
    width: 100%;
    background-color: white;
}

.socmediabar {
    background-color: white;
    .smedleft {
        margin-top: 19px;
        margin-bottom: 19px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 36%;
        .smedtitle {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 5px;
            color: #333333;
        }
        .smedp {
            margin: 0;
            color: #86878B;
        }
    }
    .smedright {
        min-width: 53%;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .socmed {
            text-decoration: none;
        }
        .socmedico {
            width: 30px;
            height: 30px;
        }
    }
}
@media screen and (max-width: 600px) {
    .socmediabar {
        .smedleft {
            display: flex;
            flex-direction: row;
            // justify-content: flex-end;
            align-items: center;
            max-width: 100%;
            .smedtitle {
                margin-bottom: 0px;
                margin-right: 20px;
            }
        }
        .smedright {
            min-width: 100%;
            padding-right: 0px;
            padding-bottom: 19px;
        }
    }
}