$salad: #41D395;
$blu: #6696E2;
$brand: #E27866;

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    // minusuoju po 148px nuo abieju sonu
    max-width: 1104px;
}

h1 {
    color: $salad;
}