$salad: #41D395;
$blu: #6696E2;
$dust: #1C1C1C;
$brand: #E27866;
$dustlight: #86878B;

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 14px;
}

.navigation {
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    // border-top: solid 2px $dust;
    // border-bottom: solid 2px $dust;
}

.container {
    // minusuoju po 148px nuo abieju sonu
    // max-width: 1104px; (problem - mazejant width contentas limpa prie browserio sonu)
    // bandau geriau palikt 1400px su paddingu, kad mazam browsery neliptu prie sonu contentas (tokiu atveju note for future - consider first break point at 943px (updated consider @960px, kodel padidejo??) width. nuemus ul kazkoki paddinga is kaires per 40px, db consider break @920px. wtf)
    max-width: 1600px;
    padding-left: 148px;
    padding-right: 148px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

@import 'navbar';
@import 'homescreen';
@import 'socialmediabar';
@import 'features';
@import 'erattemportempus';
@import 'isawesome';
@import 'pricing';
@import 'reviews';
@import 'contactus';
@import 'socialmediabar2'